.THIS .direction-switch {
    direction: rtl;
}
/* .THIS .fade-out-small{
    width:100%;
    display: block;
} */
/* 
@media (max-width:1000px) {
    .THIS .fade-out-small{
        opacity: 0;
    }
}
@media screen and (min-width: 1000px) {
    .THIS .fade-out-small{
        opacity: 1; 
    }
} */